In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from keras.models import Sequential
from keras.layers import Dense

In [2]:
df=pd.read_csv('C:\\Users\\LENOVO\\Downloads\\gas_turbines.csv')

In [3]:
df.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311

In [4]:
df.shape

(15039, 11)

In [5]:
df.describe()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
count,15039.000000,15039.00000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000
mean,17.764381,1013.19924,79.124174,4.200294,25.419061,1083.798770,545.396183,134.188464,12.102353,1.972499,68.190934
std,7.574323,6.41076,13.793439,0.760197,4.173916,16.527806,7.866803,15.829717,1.103196,2.222206,10.470586
min,0.522300,985.85000,30.344000,2.087400,17.878000,1000.800000,512.450000,100.170000,9.904400,0.000388,27.765000
25%,11.408000,1008.90000,69.750000,3.723900,23.294000,1079.600000,542.170000,127.985000,11.622000,0.858055,61.303500
50%,18.186000,1012.80000,82.266000,4.186200,25.082000,1088.700000,549.890000,133.780000,12.025000,1.390200,66.601000
75%,23.862500,1016.90000,90.043500,4.550900,27.184000,1096.000000,550.060000,140.895000,12.578000,2.160400,73.935500
max,34.929000,1034.20000,100.200000,7.610600,37.402000,1100.800000,550.610000,174.610000,15.081000,44.103000,119.890000

In [6]:
df['TEY'].value_counts()

133.74    150
133.78    148
133.67    143
133.76    142
133.79    127
         ...
126.30      1
130.81      1
144.89      1
121.46      1
115.52      1
Name: TEY, Length: 4207, dtype: int64

In [7]:
pd.value_counts(df['TEY']).plot.scatter()

TypeError: scatter() missing 2 required positional arguments: 'x' and 'y'

In [8]:
df.isnull().sum()

AT      0
AP      0
AH      0
AFDP    0
GTEP    0
TIT     0
TAT     0
TEY     0
CDP     0
CO      0
NOX     0
dtype: int64

In [9]:
df.TEY.unique()

array([114.7 , 114.72, 114.71, ..., 123.78, 121.26, 115.52])

In [10]:
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [11]:
df_norm=norm_func(df.iloc[:,:])
df_norm.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,0.184182,0.456050,0.951314,0.255758,0.091426,0.584,0.984015,0.195191,0.135340,0.071522,0.596548
1,0.182020,0.466391,0.955881,0.255721,0.094755,0.585,0.984015,0.195459,0.133988,0.073372,0.597134
2,0.185295,0.474664,0.939003,0.252571,0.097367,0.586,0.980608,0.195325,0.134567,0.072576,0.593791
3,0.189922,0.482937,0.929126,0.252227,0.098033,0.588,0.983753,0.195459,0.135533,0.072375,0.595984
4,0.199830,0.493278,0.927708,0.255323,0.096650,0.589,0.983491,0.195459,0.136692,0.073647,0.592087

In [12]:
column_names = list(df.columns)

In [13]:
predictors = column_names[0:3]
predictors

['AT', 'AP', 'AH']

In [14]:
target = column_names[7]
target

'TEY'

In [15]:
model = Sequential()
model.add(Dense(50,input_dim=3,activation="relu"))
model.add(Dense(40,activation="relu"))

model.add(Dense(1,kernel_initializer="normal"))
model.compile(loss="mean_squared_error",optimizer = "adam",metrics = ["mse"])

In [16]:
first_model = model
first_model.fit(np.array(df[predictors]),np.array(df[target]),epochs=10)
pred_train = first_model.predict(np.array(df[predictors]))
pred_train

Epoch 1/10
470/470 [==============================] - 1s 1ms/step - loss: 673.1490 - mse: 673.1490
Epoch 2/10
470/470 [==============================] - 1s 1ms/step - loss: 248.8715 - mse: 248.8715
Epoch 3/10
470/470 [==============================] - 1s 1ms/step - loss: 245.2948 - mse: 245.2948
Epoch 4/10
470/470 [==============================] - 1s 1ms/step - loss: 239.9601 - mse: 239.9601
Epoch 5/10
470/470 [==============================] - 1s 1ms/step - loss: 237.1200 - mse: 237.1200
Epoch 6/10
470/470 [==============================] - 1s 2ms/step - loss: 231.0141 - mse: 231.0141
Epoch 7/10
470/470 [==============================] - 1s 1ms/step - loss: 231.1145 - mse: 231.1145
Epoch 8/10
470/470 [==============================] - 1s 1ms/step - loss: 226.8594 - mse: 226.8594
Epoch 9/10
470/470 [==============================] - 1s 1ms/step - loss: 228.0088 - mse: 228.0088
Epoch 10/10
470/470 [==============================] - 1s 2ms/step - loss: 226.6372 - mse: 226.6372

array([[135.82462],
       [135.85527],
       [136.24683],
       ...,
       [134.33237],
       [134.7724 ],
       [135.403  ]], dtype=float32)

In [17]:
pred_train = pd.Series([i[0] for i in pred_train])
pred_train

0        135.824615
1        135.855270
2        136.246826
3        136.437363
4        136.311630
            ...
15034    133.293030
15035    133.951874
15036    134.332367
15037    134.772400
15038    135.403000
Length: 15039, dtype: float32

In [18]:
rmse_value = np.sqrt(np.mean((pred_train-df[target])**2))
rmse_value

14.945134084548327